h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.dashed-border {
    border-style: dashed;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

.hover {
    border-style: solid;
    background-color: #00ca71;
}

.container {
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.convert-text {
    color: white;
    vertical-align: text-bottom;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 65px;
}

.to {
    color: white;
    vertical-align: text-bottom;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    margin-top: -65px;
    padding-left: 600px;
}

#get-file {
    background-color: white;
    border: 1px solid blue;
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    list-style: none;
}

#post-file {
    background-color: white;
    border: 1px solid blue;
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    list-style: none;
}

.btn-success {
    float: right;
}